<html>
<head>
  <h1><center>Leave Tracker</center></h1>

<style>

body {
    background: url(static/Logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    position:center;
  }
  a.fixed{
    margin-top:100px;
    margin-right:100px;
    position: relative;
   top: -40px;
   right: -1200px;

  }

</style>
</head>
<body>
  <pre>

   <span class="glyphicon glyphicon-music"><a class="fixed" href="firstpage.html">Register</a></span>    <a class="fixed" href="Loginpage.html">Login</a>

</pre>
</body>
</html>
